{% extends "layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<div class="jumbotron">
		<h1 class="display-3">{{ title }}</h1>
		<p class="lead">Neurolens is an ML powered platform for precision medicine. 
				People often struggle with ineffective medications, or intolerable 
				side effects, especially in the mental health domain. By 
				connecting clinical practice to the wealth of studies published,
				Neurolens provides individualized recommendations based on a user's
				pharmacological profile and responses to previous medications.
			</p>
		<form method="POST">
			<fieldset>
				<legend>{{ form_name }}</legend>
				<div class="form-group">
					{{ form.diagnosis.label }}:
					<br>
					{{ form.diagnosis(class="form-control") }}
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</fieldset>
		</form>
	</div>
{% endblock %}
